<footer class="site-footer">
  <div class="wrapper">
    <h3 class="footer-heading">{{ site.description | escape }}</h3>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="social-media-list">
          {% if site.meetup_username %}
          <li>
            {% include icon.html icon="meetup" username=site.meetup_username %}
          </li>
          {% endif %}
          {% if site.github_username %}
          <li>
            {% include icon.html icon="github" username=site.github_username %}
          </li>
          {% endif %}
          {% if site.twitter_username %}
          <li>
            {% include icon.html icon="twitter" username=site.twitter_username %}
          </li>
          {% endif %}
          {% if site.slack_signup %}
          <li>
            {% include icon.html icon="slack" %}
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</footer>
